In [41]:
a =2.6
b=10.5

In [42]:
print(a)

2.6

## Operators

In [53]:
print(a+b,end = ",")
print(a-b)

13.1,-7.9

In [44]:
print(a-b)

-7.9

In [45]:
print(a*b)

27.3

In [50]:
print(b/a)

4.038461538461538

In [47]:
print(a**b)

22762.510214724673

In [48]:
print(b%a)

0.09999999999999964

In [51]:
print(int(b//a))

4

### Typecasting

In [21]:
num1 = float(input())
num2 = float(input())
print(num1+num2)

12
65
77.0

In [56]:
print("Hello \nWorld")

Hello
World

### Lists -> arrays(C++)

In [128]:
list1 = [1,2,3,4,5,6]
list2 = [2,4,6,8,10]

In [129]:
records = [['Aayushi',24],['Sampat',45],['Kapil',76]]
print(records)

[['Aayushi', 24], ['Sampat', 45], ['Kapil', 76]]

In [130]:
list1

[1, 2, 3, 4, 5, 6]

In [131]:
print(list1)
print(list1+list2) #it wont give the sum of both

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 2, 4, 6, 8, 10]

In [132]:
print(list1[2])

3

In [135]:
print(list1[:3])

[1, 2, 3]

In [76]:
pos = int(input())
num = int(input())
list1[pos] = num
print(list1)

4
23
[1, 2, 10, 4, 23, 6]

### Dictionaries

In [121]:
records = {'Aayushi' : 32 , 'Sampat' : 45, 'Rishabh' : 87}
print(records)

{'Aayushi': 32, 'Sampat': 45, 'Rishabh': 87}

In [122]:
for keys in records.values():
    print(keys)

32
45
87

In [123]:
print(int((records['Aayushi'])))

32

### Tuples

In [125]:
list1 = ['Aayushi',0,56]
list1[0] = "kapil"
print(list1)

['kapil', 0, 56]

In [126]:
tuple1 = ('Aayushi',0,56)
tuple1[0] = "Kapil"
print(tuple1)

TypeError: 'tuple' object does not support item assignment

### Sets

In [86]:
for i in range(0,10,2):
    print(i,end=" ")
print("")
print(i)

0 2 4 6 8
8

In [95]:
string1 = "apple"
print(string1)
length = len(string1)

apple

In [97]:
for i in range(0,length):
    print(string1[i],end=" ")

a p p l e

In [99]:
for i in string1:
    print(i,end=" ")

a p p l e

In [184]:

list1 = [1,2,3,4]
length = len(list1)
print(sum(list1))
print(max(list1))
print(length)

10
4
4

88
88

In [156]:
number1 = int(input())
if number1%2==0:
    print("even")
else:
    print("odd")

23
odd

In [163]:
number2 =int(input())
if number2%2==0 :
    print("divisible by 2")
elif number2%5== 0 :
    print("divisible by 5")
else:
    print("not divisible by both")

34
divisible by 2

In [167]:
string2 = "apple"
length = len(string2)
i=0
while(i<length):
    print(string1[i],end=" ")
    i +=1

a p p l e

In [194]:
def sum1(a,b):
    d=a+b
    return d
d= sum1(34,54)

print (d)

88